<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="BasicAuth">
  <meta name="author" content="siddub">
  <title>Logout Success</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <%- include('../partials/header.ejs',  { authenticated:false }) %>  
</head>
<body>
    <div class="container">
        <h1>Logout Successful</h1>
        <p>You have been successfully logged out. Thank you for your valuable contribution!</p>
    </div>
</body>
</html>
