.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000000;
  /*opacity: 1;*/
  z-index: -1;
}

.star {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  /* animation: zoom 5s linear infinite; */
}
