<!-- Path: website/views/classify/dark.ejs -->
<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scatter Plot</title>
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7.8.5/dist/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pako@2.0.4/dist/pako_inflate.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap">
    <!-- Include the header -->
    <%- include('../partials/header.ejs', {authenticated:true}) %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/lightcurveplot.css">
    <link rel="stylesheet" type="text/css" href="/css/countdown.css" />
    <link rel="stylesheet" type="text/css" href="/css/stars.css" />
  </head>
  <body>
    <!-- <div "chart-container" style="margin: 0 auto; text-align: center;" > -->
    <div class="stars"></div>
    <div id="countdown-container" style="margin: 0 auto; text-align: center; width: 90vw; background-color: #110241; opacity: 0.95;">
      <!-- <p id="countdown-text">Time left:</p> -->
      <div id="countdown">10</div>
    </div>    
    <div id="chart-container" style="margin: 0 auto; text-align: center; width: 90vw; height: 80vh; background-color: #110241; opacity: 0.95;">
      <div id="chart" style="padding: 5px;"></div>

      <%- include('../partials/classification_ui.ejs') %>
    </div>

    <script src="/js/chartUtils.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/stars.js"></script>
    <script src="/js/classification.js"></script>
    <script src="/js/infoPopup.js"></script>
    <!-- get_user_id(); -->
  </body>
</html>
