<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scatter Plot</title>
  <script type="module" src="/js/dataManager.js"></script>
  <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/d3@7.8.5/dist/d3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pako@2.0.4/dist/pako_inflate.min.js"></script>
  <%- include('../partials/header.ejs', {authenticated:true}) %>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/lightcurveplot.css">
</head>
<body>
  <div id="chart-container" style="margin: 0 auto; text-align: center; width: 90vw; height: 80vh;">
    <div id="chart" style="padding: 5px"></div>

    <%- include('../partials/classification_ui.ejs') %>
    </div>
  <script src="/js/chartUtils.js"></script>
  <script src="/js/tutorial.js"></script>
  <script src="/js/infoPopup.js"></script>
  <!-- get_user_id(); -->
</div>

</body>
</html>
